core.registry/src/test/resources/org/netbeans/core/registry/enabledisabletest/data/bookTest.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE book-test SYSTEM "bookTest.dtd">

    <book-test>
    ...
    </book-test>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT title (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT author (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT book-test (title|author)*>
