edm.project/antsrc/org/netbeans/modules/edm/project/anttasks/edm.wsdl.template

<?xml version="1.0" encoding="UTF-8"?>

<!--this is the edm wsdl template file -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://com.sun.jbi/edm/edmengine"
	xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="edm"
	targetNamespace="http://com.sun.jbi/edm/edmengine">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://com.sun.jbi/edm/edmengine">
			<xsd:element name="inputItem">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	
			<xsd:element name="outputItem">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	

                </xsd:schema>
	</types>
	<message name="input">
		<part name="part" element="tns:inputItem" />
	</message>
	<message name="output">
		<part name="part" element="tns:outputItem" />
	</message>
	<portType name="edmPortType">
		<operation name="execute">
			<input message="tns:input" name="inputMsg" />
			<output message="tns:output" name="outputMsg" />
		</operation>
	</portType>
	<binding name="Binding" type="tns:edmPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="execute">
			<soap:operation soapAction="execute" />
			<input name="inputMsg">
				<soap:body use="literal" />
			</input>
			<output name="outputMsg">
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="edmService">
		<port name="edmPort" binding="tns:Binding">
			<soap:address location="http://localhost:12033/edmengine" />
		</port>
	</service>
	<plink:partnerLinkType name="edmPartnerLinkType">
        <plink:role name="myrole" portType="tns:edmPortType"/>
    </plink:partnerLinkType>
	
</definitions>