wsdlextensions.email/src/org/netbeans/modules/wsdlextensions/email/resources/Copy of email-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:email="http://schemas.sun.com/jbi/wsdl-extensions/email/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/email/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
       

    <!-- Extensibility Element for the WSDL Binding -->
    <xs:element name="smtpbinding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>
            "binding" indicates a email protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="imapbinding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>
            "binding" indicates a email protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="pop3binding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>
            "binding" indicates a email protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <!-- Extensibility Element for the WSDL Operation -->
    <xs:element name="smtpoperation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>
            "operation" indicates a smtp protocol based operation.
          </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="imapoperation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>
            "operation" indicates a imap protocol based operation.
          </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="pop3operation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>
            "operation" indicates a pop3 protocol based operation.
          </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tOperation">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Operation Input -->
    <xs:element name="smtpinput" type="email:tInput">
        <xs:annotation>
            <xs:documentation>
            "input" indicates a email protocol based operation input.
          </xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="imapinput" type="email:tInput">
        <xs:annotation>
            <xs:documentation>
            "input" indicates a email protocol based operation input.
          </xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:element name="pop3input" type="email:tInput">
        <xs:annotation>
            <xs:documentation>
            "input" indicates a email protocol based operation input.
          </xs:documentation>
	</xs:annotation>
    </xs:element>
    <xs:complexType name="tInput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
               
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Refers to the message part containing the email message to be sent.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="subject" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Refers to the message part containing the subject of the email message.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="from" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Refers to the message part containing the sender of the email message.  This is generally an email address</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="charset" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Refers to the message part containing the character set of the email message.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="use" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Refers to the use type. Whether encoder or literal.</xs:documentation>
                    </xs:annotation>
		</xs:attribute>
                <xs:attribute name="encodingStyle" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies the encoding type associated with the email Message. This also defines the encoder type responsible to process the encoded data. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="to" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies to whom the mail is addressed . </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies to whom the mail is addressed in the  cc field . </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="bcc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies to whom the mail is addressed in bcc. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Port -->
    <xs:element name="smtpaddress" type="email:tAddresssmtp">
        <xs:annotation>
            <xs:documentation>
            "address" indicates a smtp protocol based service address.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="pop3address" type="email:tAddresssmtp">
        <xs:annotation>
            <xs:documentation>
            "address" indicates a pop3 protocol based service address.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddresssmtp">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="location" type="xs:string" use="required">
		    <xs:annotation>
                        <xs:documentation>Specifies the location of the receiver using the standard "mailto" URL Scheme (RFC 2368) </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="smtpserver" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the SMTP server to use to route SMTP messages</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="smtpport" type="xs:int" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the SMTP server's port  to route SMTP messages</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="username" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the username for the smtpserver to send mail</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="password" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the password to connect to the SMTPserver</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="useSSL" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies whether to use ssl for connection</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="imapaddress" type="email:tAddressimap">
        <xs:annotation>
            <xs:documentation>
            "address" indicates a email protocol based service address.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddressimap">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="emailserver" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the email server to use to route email messages</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="port" type="xs:int" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the email server's port  to route email messages</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="username" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the username for the emailserver to send mail</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="password" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies the password to connect to the emailserver</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="useSSL" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies whether to use ssl for connection</xs:documentation>
                    </xs:annotation>
                    </xs:attribute>
                 <xs:attribute name="MailFolder" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>The folder in the EMAIL server to poll for new messages</xs:documentation>
                    </xs:annotation> 
                  </xs:attribute>
                <xs:attribute name="MessageAkMode" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>Specifies Message ack based on the response from NMR</xs:documentation>
                    </xs:annotation>
                 </xs:attribute>
                <xs:attribute name="MarkAsRead" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>message marked as read on the server</xs:documentation>
                    </xs:annotation>
                 </xs:attribute>
                <xs:attribute name="MessageAckOperation" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>operation used to acknowledge the message</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                <xs:attribute name="PollingInterval" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>Interval between EMAIL server pols for new messages</xs:documentation>
                    </xs:annotation>
                 </xs:attribute>     
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
