wsdlextensions.email/src/org/netbeans/modules/wsdlextensions/email/resources/email-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:email="http://schemas.sun.com/jbi/wsdl-extensions/email/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/email/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
       

    <!-- Extensibility Element for the WSDL Binding -->
    
    <xs:element name="IMAPbinding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>DESC_Element_IMAPbinding</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="POP3binding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>DESC_Element_POP3binding</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SMTPbinding" type="email:tBinding">
        <xs:annotation>
            <xs:documentation>DESC_Element_SMTPbinding</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <!-- Extensibility Element for the WSDL Operation -->
    
    <xs:element name="IMAPoperation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>DESC_Element_IMAPoperation</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="POP3operation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>DESC_Element_POP3operation</xs:documentation>
        </xs:annotation>
    </xs:element>
     <xs:element name="SMTPoperation" type="email:tOperation">
        <xs:annotation>
            <xs:documentation>DESC_Element_SMTPoperation</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tOperation">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Operation Input -->
   
    <xs:element name="IMAPinput" type="email:tInput">
        <xs:annotation>
            <xs:documentation>DESC_Element_IMAPinput</xs:documentation>
	<xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="message" propertyOrder="1" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
		 <prop:Property attributeName="subject" propertyOrder="2" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                  <prop:Property attributeName="from"  propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="to" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="cc"  propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="bcc" propertyOrder="6">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="POP3input" type="email:tInput">
        <xs:annotation>
            <xs:documentation>DESC_Element_POP3input</xs:documentation>
	<xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="message" propertyOrder="1" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
		 <prop:Property attributeName="subject" propertyOrder="2" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                  <prop:Property attributeName="from"  propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="to" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="cc"  propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="bcc" propertyOrder="6">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="SMTPinput" type="email:tSmtpInput">
        <xs:annotation>
            <xs:documentation>DESC_Element_SMTPinput</xs:documentation>
	<xs:appinfo>
               <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="message" propertyOrder="1" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
		 <prop:Property attributeName="subject" propertyOrder="2" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                  <prop:Property attributeName="from"  propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="to" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="cc"  propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                  </prop:Property>
                  <prop:Property attributeName="bcc" propertyOrder="6">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                   </prop:Property>
		   </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="tInput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="subject" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_subject</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="from" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_from</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="to" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_to</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_cc</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="bcc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_bcc</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="tSmtpInput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="subject" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_subject</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="from" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_from</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="to" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_to</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_cc</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="bcc" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_bcc</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="charset" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_charset</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="use" type="email:useTypes" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_use</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="encodingStyle" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_encodingStyle</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

  <!--  <xs:complexType name="extendedSMTPtInput">
	<xs:complexContent>
		<xs:extension base="email:tInput">
		<xs:attribute name="charset" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies to whom the mail is addressed in bcc. </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		</xs:extension>
         </xs:complexContent>
    </xs:complexType>
    -->
    <!-- Extensibility Element for the WSDL Port -->
       
    <xs:element name="IMAPaddress" type="email:tAddressimap">
        <xs:annotation>
            <xs:documentation>DESC_Element_IMAPaddress</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="POP3address" type="email:tAddressimap">
        <xs:annotation>
            <xs:documentation>DESC_Element_POP3address</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="SMTPaddress" type="email:tSMTPAddress">
        <xs:annotation>
            <xs:documentation>DESC_Element_SMTPaddress</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="tAddressimap">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="emailServer" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_emailServer</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="port" type="xs:int" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_port</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userName" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_userName</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="password" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_password</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="useSSL" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_useSSL</xs:documentation>
                    </xs:annotation>
                    </xs:attribute>
                 <xs:attribute name="mailFolder" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_mailFolder</xs:documentation>
                    </xs:annotation> 
                  </xs:attribute>
                  <xs:attribute name="maxMessageCount" type="xs:int" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_maxMessageCount</xs:documentation>
                    </xs:annotation> 
                  </xs:attribute>
                <xs:attribute name="messageAckMode" type="email:modeTypes" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_messageAckMode</xs:documentation>
                    </xs:annotation>
                 </xs:attribute>
                 <xs:attribute name="messageAckOperation" type="email:ackOperation" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_messageAckOperation</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                <xs:attribute name="pollingInterval" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_pollingInterval</xs:documentation>
                    </xs:annotation>
                 </xs:attribute>     
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
 <xs:complexType name="tSMTPAddress">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="location" type="xs:string" use="required">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_location</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="emailServer" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_emailServer</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="port" type="xs:int" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_port</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userName" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_userName</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="password" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_password</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="useSSL" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>DESC_Attribute_useSSL</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="modeTypes">
        <xs:restriction base="xs:string">
	    <xs:enumeration value="automatic"/>
	    <xs:enumeration value="manual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ackOperation">
        <xs:restriction base="xs:string">
	    <xs:enumeration value="delete"/>
	    <xs:enumeration value="markAsRead"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="useTypes">
        <xs:restriction base="xs:string">
	    <xs:enumeration value="literal"/>
	    <xs:enumeration value="encoded"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
