wsdlextensions.ims/src/org/netbeans/modules/wsdlextensions/ims/resources/ims-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ims="http://schemas.sun.com/jbi/wsdl-extensions/ims/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/ims/">
	<xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
	<xs:element name="binding" type="ims:tBinding">
		<xs:annotation>
			<xs:documentation>
	      		"binding" indicates a ims protocol based binding.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tBinding">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement"/>
			<!-- could add more attributes to the binding -->
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="operation" type="ims:tOperation"/>
	<xs:complexType name="tOperation">
		<xs:annotation>
			<xs:documentation>
	      		"operation" defines the ims protocol based operation binding details.
			 </xs:documentation>
		</xs:annotation>
	<xs:complexContent>
		<xs:extension base="wsdl:tExtensibilityElement">
		</xs:extension>
	</xs:complexContent>
	</xs:complexType>
	<xs:element name="message" type="ims:tMessage">
		<xs:annotation>
			<xs:documentation>
	      		"Message" indicates a ims protocol based operation message.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tMessage">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="irmLen" type="xs:int" default="80" use="optional">
					<xs:annotation>
						<xs:documentation>
							"IMS Request Message Length" indicates the length of the IRM structure.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>			
				<xs:attribute name="irmId" default="*SAMPL1*" type="ims:irmId" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Request Message ID" indicates the identifier of the user exits that is to be driven after the complete message is received.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>	
				<xs:attribute name="irmTimer" default=".25 SEC" type="ims:irmTimer" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Request Timer" indicates the time delay for the receive to the Datastore after an ACK or RESUME TPIPE.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmSocket" default="Persistent" type="ims:irmSocket" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Socket" indicates the socket connection type.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmClientId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
						"Client ID" indicates the name of the Client ID to be used by IMS Connect.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmMod" default="NO_MFS" type="ims:irmMod" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Mod" indicates whether the MFS Message Output Descriptor is returned as part of the output.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmCommitMode" default="COMMIT_MODE_1" type="ims:irmCommitMode" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Commit Mode" indicates commit mode.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmSyncLevel" default="SYNC_LEVEL_NONE" type="ims:irmSyncLevel" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Sync Level" indicates whether the message is to be confirmed with an ACK for Commit Mode 1 processing.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmAck" default="NO_ACK" type="ims:irmAck" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Ack" indicates a positive or negative acknowledgement response expression sent to IMS Connect and forwarded to IMS.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmFlow" default="No_Auto_Flow" type="ims:irmFlow" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Flow" indicates the Flow Control properties.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmTranCode" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Transaction Code" indicates the default IMS transaction code.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmTranCodeSrc" default="CFG" type="ims:irmTranCodeSrc" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Transaction Code Source" indicates from where the IMS transaction code is to be taken.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmDestId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
						"Destination Id" indicates the datastore name.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmLterm" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Lterm" indicates the IMS LTERM override name.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmRacfGrpName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
						"RACF Group Name" indicates the RACF Group Name if RACF is to be used.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmRacfUserId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
						"RACF User Id" indicates the RACF User Id if RACF is to be used.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmRacfPwd" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
						"RACF Password" indicates the RACF password if RACF is to be used.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="irmHeaderEncod" default="ISO-8859-1" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"IRM Header Encoding" indicates the encoding of the IRM Header properties sent to IMS Connect.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="sendDataEncod" default="NO TRANSLATION" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Send Data Encoding" indicates the encoding translation (if any) to apply to the message body sent to IMS Connect.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="replyDataEncod" default="ISO-8859-1" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"Reply Data Encoding" indicates the encoding of the message body received back from IMS Connect.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="use" type="ims:useTypes" default="literal" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Use" specifies whether you are using encoder or not.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="encodingStyle" type="xs:anyURI" use="optional">
					<xs:annotation>
						<xs:documentation>
							"encodingStyle" message encoding style.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="part" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>
						"party" indicates the primary key value based on which the record is to be retrieved.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="irmId">
		<xs:restriction base="xs:string">
			<xs:enumeration value="*SAMPL1*"/>
			<xs:enumeration value="*IRMREQ*"/>						
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmTimer">
		<xs:restriction base="xs:string">
			<xs:enumeration value=".25 SEC"/>
			<xs:enumeration value="No_Wait"/>
			<xs:enumeration value="Block"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmSocket">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Persistent"/>
			<xs:enumeration value="Non_Persistent"/>
			<xs:enumeration value="Transaction"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmMod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_MFS"/>
			<xs:enumeration value="MFS"/>		
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmCommitMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMMIT_MODE_1"/>
			<xs:enumeration value="COMMIT_MODE_0"/>		
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmSyncLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SYNC_LEVEL_NONE"/>
			<xs:enumeration value="SYNC_LEVEL_CONFIRM"/>		
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmAck">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_ACK"/>
			<xs:enumeration value="ACK"/>
			<xs:enumeration value="DEALLOCATE"/>
			<xs:enumeration value="NACK"/>			
			<xs:enumeration value="RESUME"/>
			<xs:enumeration value="SENDONLY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmFlow">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No_Auto_Flow"/>
			<xs:enumeration value="Auto_Flow_Out"/>
			<xs:enumeration value="Client_Translation"/>
			<xs:enumeration value="No_Auto_Flow_Out"/>	
			<xs:enumeration value="Single_Message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="irmTranCodeSrc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFG"/>
			<xs:enumeration value="MESSAGE"/>		
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="useTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="literal"/>
			<xs:enumeration value="encoded"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:element name="address" type="ims:tAddress">
		<xs:annotation>
			<xs:documentation>
	      		"address" indicates a ims protocol based service address.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tAddress">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="imsServer" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
							"imsServer" Name of the IMS Server.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="imsPort" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>
							"imsPort" where IMS Server is hosted.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
