wsdlextensions.sap/src/org/netbeans/modules/wsdlextensions/sap/resources/sap-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
           xmlns:sap="http://schemas.sun.com/jbi/wsdl-extensions/sap/" 
           targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/sap/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
    <xs:element name="binding">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    "binding" indicates a sap protocol based binding.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                    <xs:attribute name="transactionalMode" use="required">
                        <xs:annotation>
                            <xs:documentation>Messages are Transactional or Non-Transactional in nature.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Transactional">
                                    <xs:annotation>
                                        <xs:documentation>Use transactional delivery.</xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="Non-Transactional">
                                    <xs:annotation>
                                        <xs:documentation>Message delivery does not require transactional delivery.</xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="transactionIDVerificationDatabase" use="optional" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Fully qualified path to the transaction database.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maximumTIDDatabaseRows" type="xs:long" use="optional">
                        <xs:annotation>
                            <xs:documentation>Maximum number of rows allowed for the TID database.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="operation">
        <xs:annotation>
            <xs:documentation>
                "operation" indicates a sap protocol based operation.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                    <xs:choice>
                        <xs:element ref="sap:fmoperation"/>
                        <xs:element ref="sap:idocoperation"/>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="fmoperation">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    "fmoperation" defines the sap protocol based operation binding details for function modules.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                    <xs:attribute name="functionName" type="xs:string"  use="required">
                        <xs:annotation>
                            <xs:documentation>Name of the BAPI or RFC function corresponding to this operation.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="idocoperation">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    "idocoperation" defines the sap protocol based operation binding details for IDocs.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="message">
        <xs:annotation>
            <xs:documentation>
                SAP message.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fault">
        <xs:annotation>
            <xs:documentation>
                "Fault" defines the sap protocol based write type of operations binding details.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="address">
        <xs:annotation>
            <xs:documentation>
                "address" indicates a sap protocol based service address.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                     <!--
                           <xs:element ref="sap:addressparams"/>
                    -->
                    <xs:choice minOccurs="1" maxOccurs="2">
                        <xs:element ref="sap:clientparams" maxOccurs="1"/>
                        <xs:element ref="sap:serverparams" maxOccurs="1"/>
                    </xs:choice>
                   
                     <xs:attribute name="applicationServerHostname" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The Hostname of the SAP R/3 Application Server.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="clientNumber" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The SAP Client Number used to access the R/3 system.  Note, this is an alphanumeric string so do not omit any leading zeroes (0's).</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="systemNumber" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>System Number of the SAP R/3 Application Server. This parameter should be configured when NOT using SAP Load Balancing.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="systemID" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The ID of the SAP R/3 System.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="user" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The SAP user name. This MUST be defined before specifying the Password.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="password" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>The password for the SAP user.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="language" default="EN" use="optional">
                        <xs:annotation>
                            <xs:documentation>The Language used for SAP R/3 access.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="EN" /> 
                                <xs:enumeration value="DE" /> 
                                <xs:enumeration value="JA" /> 
                                <xs:enumeration value="KO" /> 
                            </xs:restriction>
                        </xs:simpleType>                        
                    </xs:attribute>
                    <xs:attribute name="enableABAPDebugWindow" type="sap:noYes" use="optional" default="No">
                        <xs:annotation>
                            <xs:documentation>Enable ABAP Debug Window.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="gatewayHostname" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>This parameter should be configured when NOT using SAP Load Balancing.  Specify an Optional Gateway host name for the Application Server.  NOTE: Do not specify any optional Router String here, as the value will be prepended to the Gateway Hostname.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="gatewayService" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>This parameter should be configured when NOT using SAP Load Balancing.  Specify an Optional Gateway Service for the Application Server.  The SAP recommended value is the string "sapgw" concatenated with the SAP System Number.  For example with a System Number of "01", the Gateway Service is "sapgw01".</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="isSAPSystemUnicode" type="sap:noYes" default="Yes">
                        <xs:annotation>
                            <xs:documentation>Choose yes if the R/3 System is unicode.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="routerString" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>This parameter is OPTIONAL and ONLY needs to be provided in 
                                order to gain access to a SAP system that's behind a firewall.
                                The string is composed of the hostname(s) or IP address(es)
                                of all the SAP Routers that are in between this BOS (Business 
                                Object Server) and the SAP Gateway Host.  For example, if 
                                there are two routers, saprouter1, and saprouter2 (in order) 
                                from the BOS to the Application Server, the Router String will 
                                be determined as: 
                                saprouter1:       204.79.199.5 
                                saprouter2:       207.105.30.146 
                                Router String:    /H/204.79.199.5/H/207.105.30.146/H/ 
                                Don't forget the the "H" tokens to separate the routers 
                                as well as the beginning and ending ones.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="addressparams">
            <xs:annotation>
                <xs:documentation>
                    "addressparams" indicates a sap protocol based parameter.
                </xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:complexContent>
                    <xs:extension base="wsdl:tExtensibilityElement">
                        <xs:choice>
                            <xs:element ref="sap:clientparams"/>
                            <xs:element ref="sap:serverparams"/>
                        </xs:choice>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
    </xs:element>    
    <xs:element name="clientparams" >
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                "clientparams" defines the sap protocol based attributes for clients.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                    <xs:attribute name="useLoadBalancing" type="sap:noYes" default="No">
                        <xs:annotation>
                            <xs:documentation>Use Load Balancing.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="applicationServerGroup" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>This parameter should be configured ONLY when using SAP Load Balancing.  Enter the name of the group of SAP Application Servers that will be sharing the workload.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="messageServerHostname" type="xs:string" use="optional">
                        <xs:annotation>
                            <xs:documentation>Specify the host name of the R/3 Message Server IF using Load Balancing.  NOTE: Do not specify any optional Router String here, as the value will be prepended.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="serverparams">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                "serverparams" defines the sap protocol based attributes for server.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="wsdl:tExtensibilityElement">
                    <xs:attribute name="programID" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>Specify the Program ID for the SAP service.  Note, this much match EXACTLY (case-sensitive) with what's shown in SAPGUI transaction SM59.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="noYes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="No"/>
            <xs:enumeration value="Yes"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="trueFalse">
        <xs:restriction base="xs:string">
            <xs:enumeration value="No"/>
            <xs:enumeration value="Yes"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
