j2ee.oc4j/src/main/resources/org/netbeans/modules/j2ee/oc4j/resources/orion-ejb-jar-10_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:oc4j="http://xmlns.oracle.com/oracleas/schema/oc4j-10_0.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <!--****************************************************-->
    <xsd:import namespace="http://xmlns.oracle.com/oracleas/schema/oc4j-10_0.xsd" schemaLocation="oc4j-10_0.xsd"/>
    <!--****************************************************-->
    <!--****************************************************-->
    <xsd:include schemaLocation="service-ref-mapping-10_0.xsd"/>
    <!--****************************************************-->
    <xsd:element name="as-context">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="auth-method"/>
                <xsd:element ref="realm"/>
                <xsd:element ref="required"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="assembly-descriptor">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="security-role-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="message-destination-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="default-method-access" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="auth-method" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="called-by">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="caller" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="caller">
        <xsd:complexType>
            <xsd:attribute name="caller-identity" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="caller-propagation" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="cmp-field-mapping">
        <xsd:complexType>
            <xsd:choice minOccurs="0">
                <xsd:element ref="fields"/>
                <xsd:element ref="properties"/>
                <xsd:element ref="entity-ref"/>
                <xsd:element ref="list-mapping"/>
                <xsd:element ref="collection-mapping"/>
                <xsd:element ref="set-mapping"/>
                <xsd:element ref="map-mapping"/>
            </xsd:choice>
            <xsd:attribute name="ejb-reference-home" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="persistence-name" type="xsd:string"/>
            <xsd:attribute name="persistence-type" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="collection-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="primkey-mapping"/>
                <xsd:element ref="value-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="table" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="confidentiality" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="context-attribute">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string"/>
                    <xsd:attribute name="value" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="data-bus">
        <xsd:complexType>
            <xsd:attribute name="data-bus-name" type="xsd:string" use="required"/>
            <xsd:attribute name="url" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="default-method-access">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="security-role-mapping"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="description" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="ejb-name" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="ejb-ref-mapping">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="location" type="xsd:string"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="enterprise-beans">
        <xsd:complexType>
            <xsd:sequence>
                <!--NOTE: declaration of multiple <persistence-manager> tags is not supported and will be removed in a future release-->
                <xsd:element ref="persistence-manager" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:choice maxOccurs="unbounded">
                    <xsd:element ref="session-deployment"/>
                    <xsd:element ref="entity-deployment"/>
                    <xsd:element ref="message-driven-deployment"/>
                    <xsd:element ref="jem-deployment"/>
                </xsd:choice>
                <xsd:element ref="jem-server-extension" minOccurs="0"/>
                <xsd:element ref="orchestration-package" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="entity-deployment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ior-security-config" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="primkey-mapping" minOccurs="0"/>
                <xsd:element ref="cmp-field-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="finder-method" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="env-entry-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ejb-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="service-ref-mapping" type="service-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-env-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="commit-option" minOccurs="0"/>
                <xsd:element ref="message-destination-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <!--NOTE: the pm-name attribute is not supported and will be removed in a future release-->
            <xsd:attribute name="pm-name" type="xsd:string"/>
            <xsd:attribute name="call-timeout" type="xsd:string"/>
            <xsd:attribute name="clustering-schema" type="xsd:string"/>
            <xsd:attribute name="copy-by-value" type="xsd:string"/>
            <xsd:attribute name="data-source" type="xsd:string"/>
            <xsd:attribute name="exclusive-write-access" type="xsd:string"/>
            <xsd:attribute name="do-select-before-insert" type="xsd:string"/>
            <xsd:attribute name="location" type="xsd:string"/>
            <xsd:attribute name="local-location" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                      Defines the local JNDI name to which this EJB will be bound.
                    </xsd:documentation>
                </xsd:annotation>  
            </xsd:attribute>
            <xsd:attribute name="isolation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="committed"/>
                        <xsd:enumeration value="serializable"/>
                        <xsd:enumeration value="uncommitted"/>
                        <xsd:enumeration value="repeatable_reads"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="locking-mode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="pessimistic"/>
                        <xsd:enumeration value="optimistic"/>
                        <xsd:enumeration value="read-only"/>
                        <xsd:enumeration value="old_pessimistic"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="max-instances" type="xsd:string"/>
            <xsd:attribute name="min-instances" type="xsd:string"/>
            <xsd:attribute name="max-tx-retries" type="xsd:string"/>
            <xsd:attribute name="update-changed-fields-only" default="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="pool-cache-timeout" type="xsd:string"/>
            <xsd:attribute name="table" type="xsd:string"/>
            <xsd:attribute name="validity-timeout" type="xsd:string"/>
            <xsd:attribute name="force-update" type="xsd:string"/>
            <xsd:attribute name="wrapper" type="xsd:string"/>
            <xsd:attribute name="local-wrapper" type="xsd:string"/>
            <xsd:attribute name="delay-updates-until-commit" default="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="findByPrimaryKey-lazy-loading" default="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="entity-ref">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="home" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="env-entry-mapping">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="establish-trust-in-client" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="establish-trust-in-target" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="fields">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="finder-method">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="method"/>
            </xsd:sequence>
            <xsd:attribute name="partial" type="xsd:string"/>
            <xsd:attribute name="query" type="xsd:string"/>
            <xsd:attribute name="lazy-loading" default="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="true"/>
                        <xsd:enumeration value="false"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="prefetch-size" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="group">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="integrity" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="ior-security-config">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="transport-config" minOccurs="0"/>
                <xsd:element ref="as-context" minOccurs="0"/>
                <xsd:element ref="sas-context" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="jem-deployment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="description" minOccurs="0"/>
                <xsd:element ref="data-bus" minOccurs="0"/>
                <xsd:element ref="called-by"/>
                <xsd:element ref="security-identity"/>
            </xsd:sequence>
            <xsd:attribute name="jem-name" type="xsd:string" use="required"/>
            <xsd:attribute name="ejb-name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="jem-server-extension">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="description" minOccurs="0"/>
                <xsd:element ref="data-bus" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="data-source-location" type="xsd:string" use="required"/>
            <xsd:attribute name="scheduling-threads" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="list-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="primkey-mapping"/>
                <xsd:element ref="value-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="table" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="lookup-context">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="context-attribute" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="location" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="map-key-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="type" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="map-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="primkey-mapping"/>
                <xsd:element ref="map-key-mapping"/>
                <xsd:element ref="value-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="table" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="message-driven-deployment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="env-entry-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ejb-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-env-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="message-destination-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
	        <xsd:element name="config-property" type="config-propertyType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="connection-factory-location" type="xsd:string"/>
            <xsd:attribute name="destination-location" type="xsd:string"/>
            <xsd:attribute name="resource-adapter" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="subscription-name" type="xsd:string"/>
            <xsd:attribute name="listener-threads" type="xsd:integer"/>
            <xsd:attribute name="transaction-timeout" type="xsd:integer"/>
            <xsd:attribute name="dequeue-retry-count" type="xsd:integer"/>
            <xsd:attribute name="dequeue-retry-interval" type="xsd:integer"/>
            <xsd:attribute name="max-instances" type="xsd:integer"/>
            <xsd:attribute name="min-instances" type="xsd:integer"/>
            <xsd:attribute name="cache-timeout" type="xsd:string"/>
            <xsd:attribute name="wrapper-class" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
   <!--****************************************************-->
    <xsd:complexType name="config-propertyType">
          <xsd:sequence> 
                <xsd:element name="config-property-name" type="xsd:string"/>
                <xsd:element name="config-property-value" type="xsd:string"/>
           </xsd:sequence> 
    </xsd:complexType>
    <!--****************************************************-->
    <xsd:element name="method">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="description" minOccurs="0"/>
                <xsd:element ref="ejb-name"/>
                <xsd:element ref="method-intf" minOccurs="0"/>
                <xsd:element ref="method-name"/>
                <xsd:element ref="method-params" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="method-intf" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="method-name" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="method-param" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="method-params">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="method-param" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="orchestration-package">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="orion-ejb-jar">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="enterprise-beans"/>
                <xsd:element ref="assembly-descriptor"/>
            </xsd:sequence>
            <xsd:attribute name="deployment-time" type="xsd:string"/>
            <xsd:attribute name="deployment-version" type="xsd:string"/>
            <xsd:attributeGroup ref="oc4j:oc4j-schemaVersionAttributeType"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="persistence-manager">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="pm-properties" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="class" type="xsd:string"/>
            <xsd:attribute name="descriptor" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="pm-properties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--****************************************************-->
    <!--********** TopLink-specific pm-properties **********-->
    <!--****************************************************-->
    <xsd:element name="session-name" type="xsd:string">
        <xsd:annotation>
        <xsd:documentation>
 
         Unique name for this TopLink-persisted EJB deployment jar. Must be unique amongst all
         TopLink-persisted deployed jars in the server. If this element is not specified then
         a unique name will be generated by the TopLink persistence manager.
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="project-class" type="xsd:string">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional TopLink project class containing mapping meta-data. This class will replace the
         TopLink descriptor specified in the descriptor attribute of the persistence-manager element.
         The specified class must be fully qualified and included in the deployable JAR file.
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="db-platform-class" type="xsd:string">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional TopLink database platform class containing TopLink support specific to a
         particular database. The specified class must be fully qualified.
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="default-mapping">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional element that allows specification of default mapping options. The "db-table-gen"
         attribute determines what TopLink will do to prepare the database tables that are being
         mapped to. Valid values include Create, which will attempt to create the tables,
         DropAndCreate, which will attempt first to drop existing tables before re-creating them
         and UseExisting, which will assume that the tables have already been created. Default
         action is to Create. The "extended-table-names" attribute may only be needed if the
         generated table names are not long enough to be unique. The default is not to generate
         extended length table names (extended-table-names="false").
         This element is ignored if the mappings are already defined for the entities.
 
        Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
 
        <xsd:complexType>
            <xsd:attribute name="db-table-gen" default="Create">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="Create"/>
                        <xsd:enumeration value="DropAndCreate"/>
                        <xsd:enumeration value="UseExisting"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="extended-table-names" type="oc4j:oc4j-trueFalseType" default="false"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="remote-relationships" type="oc4j:oc4j-trueFalseType" default="false">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional flag to allow relationships between remote objects. This flag may be used as
         a stepping stone to migrate from TopLink EJB 1.1 entities (when relationships were
         created between remote entities). Using this flag is not compliant with EJB 2.0. If this
         flag is set then all relationships will be maintained through the remote interfaces of the
         entities. Values are restricted to being true or false.
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="cache-synchronization">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional flag to enable cache synchronization to occur. The "mode" attribute can be
         used to indicate whether the updates should be propagated to other servers
         synchronously or asynchronously. Default is to propagate asynchronously
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
 
        <xsd:complexType>
            <xsd:attribute name="mode" default="asynchronous">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="asynchronous"/>
                        <xsd:enumeration value="synchronous"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="server-user" type="xsd:string"/>
            <xsd:attribute name="server-url" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="customization-class" type="xsd:string">
        <xsd:annotation>
        <xsd:documentation>
 
         Optional flag to allow runtime customization of TopLink mapping and runtime
         configuration. Class must be fully qualified and included in the deployment JAR.
 
         Used in: pm-properties
 
        </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!--****************************************************-->
    <!--****************************************************-->
    <!--****** END of TopLink-specific pm-properties *******-->
    <!--****************************************************-->
    <!--****************************************************-->
    <xsd:element name="primkey-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="properties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="property">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string"/>
                    <xsd:attribute name="value" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="realm" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="required" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="resource-env-ref-mapping">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="location" type="xsd:string"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
	<xsd:element name="commit-option">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="oca-field-mapping" minOccurs="0">
					<xsd:complexType>
						<xsd:attribute name="name" type="xsd:string"/>
						<xsd:attribute name="type" default="int">
							<xsd:simpleType>
								<xsd:restriction base="xsd:NMTOKEN">
									<xsd:enumeration value="int"/>
									<xsd:enumeration value="long"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="persistence-name" type="xsd:string"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="non-cmr-field" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="name" type="xsd:string"/>
						<xsd:attribute name="type" type="xsd:string"/>
						<xsd:attribute name="clone" default="false">
							<xsd:simpleType>
								<xsd:restriction base="xsd:NMTOKEN">
									<xsd:enumeration value="true"/>
									<xsd:enumeration value="false"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="mode" default="C">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="A"/>
						<xsd:enumeration value="B"/>
						<xsd:enumeration value="C"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="number-of-buckets" type="xsd:string"/>
			<xsd:attribute name="ttl" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
    <!--****************************************************-->
    <xsd:element name="message-destination-ref-mapping">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="location" type="xsd:string"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="resource-ref-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="lookup-context" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="location" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="role-name" type="xsd:string"/>
    <!--****************************************************-->
    <xsd:element name="run-as-specified-identity">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="description" minOccurs="0"/>
                <xsd:element ref="role-name"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="sas-context">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="caller-propagation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="security-identity">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="description" minOccurs="0"/>
                <xsd:choice>
                    <xsd:element ref="use-caller-identity"/>
                    <xsd:element ref="run-as-specified-identity"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="security-role-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="impliesAll" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="message-destination-mapping">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="location" type="xsd:string"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="session-deployment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ior-security-config" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="env-entry-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ejb-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="resource-env-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="message-destination-ref-mapping" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="pool-cache-timeout" type="xsd:string"/>
            <xsd:attribute name="call-timeout" type="xsd:string"/>
            <xsd:attribute name="copy-by-value" type="xsd:string"/>
            <xsd:attribute name="location" type="xsd:string"/>
            <xsd:attribute name="local-location" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                      Defines the local JNDI name to which this EJB will be bound.
                    </xsd:documentation>
                </xsd:annotation>  
            </xsd:attribute>
            <xsd:attribute name="max-instances" type="xsd:string"/>
            <xsd:attribute name="min-instances" type="xsd:string"/>
            <xsd:attribute name="max-tx-retries" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="persistence-filename" type="xsd:string"/>
            <xsd:attribute name="timeout" type="xsd:string"/>
            <xsd:attribute name="transaction-timeout" type="xsd:string"/>
            <xsd:attribute name="idletime" type="xsd:string"/>
            <xsd:attribute name="memory-threshold" type="xsd:string"/>
            <xsd:attribute name="max-instances-threshold" type="xsd:string"/>
            <xsd:attribute name="resource-check-interval" type="xsd:string"/>
            <xsd:attribute name="passivate-count" type="xsd:string"/>
            <xsd:attribute name="wrapper" type="xsd:string"/>
            <xsd:attribute name="local-wrapper" type="xsd:string"/>
            <xsd:attribute name="replication" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:NMTOKEN">
                        <xsd:enumeration value="onRequestEnd"/>
                        <xsd:enumeration value="onShutdown"/>
                        <xsd:enumeration value="none"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="set-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="primkey-mapping"/>
                <xsd:element ref="value-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="table" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="transport-config">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="integrity"/>
                <xsd:element ref="confidentiality"/>
                <xsd:element ref="establish-trust-in-target"/>
                <xsd:element ref="establish-trust-in-client"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="use-caller-identity">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="name" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
    <xsd:element name="value-mapping">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="cmp-field-mapping"/>
            </xsd:sequence>
            <xsd:attribute name="immutable" type="xsd:string"/>
            <xsd:attribute name="type" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <!--****************************************************-->
</xsd:schema>
