wsdlextensions.hl7/src/org/netbeans/modules/wsdlextensions/hl7/resources/hl7-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hl7="http://schemas.sun.com/jbi/wsdl-extensions/hl7/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/hl7/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>

    <!-- Extensibility Element for the WSDL Binding -->
    <xs:element name="binding" type="hl7:tBinding">
        <xs:annotation>
            <xs:documentation>
		"binding" indicates a hl7 protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement"/>
		<!-- could add more attributes to the binding -->
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Operation -->
    <xs:element name="operation" type="hl7:tOperation">
        <xs:annotation>
            <xs:documentation>
            "operation" indicates a hl7 protocol based operation.
          </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tOperation">
        <xs:complexContent>
	  <xs:annotation>
               <xs:documentation>
	      	"operation" defines the hl7 protocol based operation binding details..
               </xs:documentation>
            </xs:annotation>	
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Operation Input -->
    <xs:element name="message" type="hl7:tMessage">
        <xs:annotation>
            <xs:documentation>
            "message" indicates a hl7 protocol based HL7 message to/from WSDL message mapping
          </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tMessage">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
	    <xs:attribute name="part" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Defines the references to the abstract message part in the WSDL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="use" type="hl7:useTypes" use="optional" default="encoded">
                    <xs:annotation>
                        <xs:documentation>The use type which affects how the message is interpreted. The default is "encoded"</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="encodingStyle" type="xs:string" use="optional" default="hl7encoder-1.0">
                    <xs:annotation>
                        <xs:documentation>when use is encoded, this attribute defines the encoding style</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
	   </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:simpleType name="llpTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MLLPv1"/>
			<xs:enumeration value="MLLPv2"/>
			<xs:enumeration value="HLLP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="useTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="encoded"/>
			<xs:enumeration value="literal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ackTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="original"/>
			<xs:enumeration value="enhanced"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="verIDs">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.1"/>
			<xs:enumeration value="2.2"/>
			<xs:enumeration value="2.3"/>
			<xs:enumeration value="2.3.1"/>
			<xs:enumeration value="2.4"/>
			<xs:enumeration value="2.5"/>
			<xs:enumeration value="3.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="processingID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	 <xs:simpleType name="yyyyMMddHHmm">
	 <xs:annotation>
            <xs:documentation>Year Month and Date information.</xs:documentation>
        </xs:annotation>
         <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9][0-9](0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Extensibility Element for the WSDL Port -->
    <xs:element name="address" type="hl7:tAddress">
        <xs:annotation>
            <xs:documentation>
            "address" indicates a hl7 protocol based service address.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddress">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<!-- <xs:attribute name="hl7serverLocation" type="xs:string" use="required">
		    <xs:annotation>
                        <xs:documentation>The IP Address which specifies the connectivity information to connect to HL7 Server</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="hl7serverPort" type="xs:int" use="required">
		    <xs:annotation>
                        <xs:documentation>The Port number which specifies the connectivity information to connect to HL7 Server </xs:documentation>
                    </xs:annotation>
                </xs:attribute> -->
		<xs:attribute name="location" type="xs:string" default="hl7://localhost:4040" use="optional">
		    <xs:annotation>
                        <xs:documentation>The connectivity information to connect to HL7 Server. Format hl7://ip:portnumber </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="transportProtocolName" type="xs:string" use="optional">
		    <xs:annotation>
                        <xs:documentation>The transport protocol to use to tranport the hl7 messages</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Extensibility Element for the WSDL Port -->
    <xs:element name="protocolproperties" type="hl7:tProtocolProperties">
        <xs:annotation>
            <xs:documentation>
            "protocolproperties" indicates hl7 protocol properties.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tProtocolProperties">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="acknowledgmentMode" type="hl7:ackTypes" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines the acknowledgement mode to use to acknowledge the hl7 transactions</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		 <xs:attribute name="llpType" type="hl7:llpTypes" use="optional" default="MLLPv1">
                    <xs:annotation>
                        <xs:documentation>Defines the type of Lower Layer Protocol to use</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="startBlockCharacter" type="xs:byte" default="11" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines Start Block Character Value in decimal ascii number. The allowed range is 1 to 127. Unless there is a conflict, the value should be ASCII VT, i.e., decimal 11.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="endDataCharacter" type="xs:byte" default="28" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines End Data Character Value in decimal ascii number. The allowed range is 1 to 127. Unless there is a conflict, the value should be ASCII FS, i.e., decimal 28.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="endBlockCharacter" type="xs:byte" default="13" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines End Block Character Value in decimal ascii number. The allowed range is 1 to 127. To be strictly compliant with the HL7 Standard, this parameter MUST be set to a Carriage Return, i.e., decimal 13.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="hllpChecksumEnabled" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Enables or disables HLLP Checksum</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="seqNumEnabled" type="xs:boolean" use="optional">
		    <xs:annotation>
                        <xs:documentation>Enables or disables sequence number protocol</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="processingID" type="hl7:processingID" use="optional" default="D">
                    <xs:annotation>
                        <xs:documentation>Defines the ProcessingID value against which MSH-11-ProcessingID field in the received message is validated when validateMSH is set to true. Valid values are "P", "D" or "T"</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="versionID" type="hl7:verIDs" use="optional" default="2.3.1">
                    <xs:annotation>
                        <xs:documentation>Defines the versionID value against which MSH-12-VersionID field in the received message is validated when validateMSH is set to true. Valid values are "2.1", "2.2" , "2.3", "2.3.1", "2.4", "2.5" or "3.0"</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="validateMSH" type="xs:boolean" use="optional" >
                    <xs:annotation>
                        <xs:documentation>Enables or disables the MSH segment validation</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="enabledSFT" type="xs:boolean" use="optional" >
                    <xs:annotation>
                        <xs:documentation>Enables or disables SFT segment processing</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareVendorOrganization" type="xs:string" use="optional" default="Sun Microsystems, Inc" >
                    <xs:annotation>
                        <xs:documentation>Defines the Software Vendor Organization field (SFT-1-Software Vendor Organization) which identifies the vendor who is responsible for maintaining the application.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareCertifiedVersionOrReleaseNumber" type="xs:string" use="optional" default="6.0" >
                    <xs:annotation>
                        <xs:documentation>Specifies HL7 segment SFT-02, the Software Certified Version or Release Number. The latest software version number or release number for the sending system, helps to provide a more complete profile of the application that is sending or receiving HL7 messages.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareProductName" type="xs:string" use="optional" default="Sun Open ESB HL7 Binding Component" >
                    <xs:annotation>
                        <xs:documentation>Specifies HL7 segment SFT-03, the name of the software product that submitted the transaction.The software product name is a key component for identifying the sending application.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareBinaryID" type="xs:string" use="optional" default="6.0" >
                    <xs:annotation>
                        <xs:documentation>Specifies HL7 segment SFT-04, the Software Binary ID. This property is available starting with HL7 version 2.5. Software Binary IDs are issued by a vendor for each unique software version instance. These IDs are used to differentiate between differing versions of the same software.Identical Primary IDs indicate that the software is identical at the binary level, but configuration settings may differ.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareProductInformation" type="xs:string" use="optional" default="It is a binding component for HL7 over TCP/IP connection" >
                    <xs:annotation>
                        <xs:documentation>Specifies HL7 segment SFT-05, software product identification information. This may include a description of the software application, configuration settings,modifications made to the software.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="softwareInstallDate" type="hl7:yyyyMMddHHmm" use="optional" >
                    <xs:annotation>
                        <xs:documentation>Specifies HL7 segment SFT-06, the Software Install Date. This is the date(format should be YYYYMMDDHHSS) on which the submitting software was installed at the sending site.</xs:documentation>
                    </xs:annotation> 
                </xs:attribute> 
           </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
