j2ee.oc4j/src/org/netbeans/modules/j2ee/oc4j/resources/data-sources-10_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                      xmlns:oc4j="http://xmlns.oracle.com/oracleas/schema/oc4j-10_0.xsd"
                      elementFormDefault="qualified">
     <!--****************************************************-->
    <xsd:import namespace="http://xmlns.oracle.com/oracleas/schema/oc4j-10_0.xsd" schemaLocation="oc4j-10_0.xsd"/>
    <!--****************************************************-->
	<xsd:element name="connection-factory">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the connection factory used to create connections for the connection pool.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The property element is used to set generic proeprties on the connection factory object.  For each property defined a "set" method
					will be called on the connection factory object.  The name attribute corresponds to the set method name and the value attribute is
					the value to set for that property (it is passed as a paramter to the set method.)
					The proxy-interface element is used to define the vendor-specific
					interfaces implemented by the JDBC driver.  The xa-recovery-config element defines the information needed by the transaction manager to perform XA recovery.
		                    The fatal-error-codes element defines the error codes that indicate that a fatal error has occurred and that all unused connections in the connection pool are no longer valid.
		                    The connection-properties element defines connection properties that will be set on the connection factory.  This feature works when the connection factory is an instance of OracleDataSource.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:element ref="property"/>
				<xsd:element ref="proxy-interface"/>
				<xsd:element ref="xa-recovery-config" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="fatal-error-codes" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="connection-properties" minOccurs="0" maxOccurs="1"/>
			</xsd:choice>
			<xsd:attribute name="factory-class" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The fully qualified class of the connection factory.  Must implement java.sql.Driver, javax.sql.DataSource, javax.sql.ConnectionPoolDataSource, or javax.sql.XADataSource.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="user" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The default user.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="password" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The default password.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="login-timeout" type="xsd:byte" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The maximum amount of time (in seconds) that this data source will wait while attempting to connect to a database. A value of zero specifies that the timeout is the default system timeout if there is one; otherwise, it specifies that there is no timeout.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="url" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The url that the connection factory uses to communicate with the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="connection-pool">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The connection factory produces connections for the connection pool.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="connection-factory"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name of the connection pool.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="abandoned-connection-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Oracle databases only.  Abandoned-connection-timeout is similar to the inactivity-timeout, but on a logical connection. When set, JDBC monitors SQL database activity on this logical connection (connection borrowed from the cache by the user). For example, when a stmt.execute() is invoked on this connection, a heart beat is registered to convey that this connection is active. The heart beats are monitored only at places (to lower the cost of monitoring), that result in database execute calls. If a connection has been inactive for the specified amount of time, the underlying PooledConnection is reclaimed and returned to the cache for reuse. The default value is -1, meaning, this feature is not in effect.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="connection-retry-interval" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The interval to wait (in seconds) before retrying a failed connection attempt.  This is used in conjunction with ???max-connnect-attempts???.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="inactivity-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The amount of time (in seconds) that an unused connection is inactive before it is removed from the pool.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="initial-limit" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					This sets the size of the connection cache when the cache is initially created or reinitialized.  When this property is set to a value greater than 0, that many connections are pre-created and are ready for use. This property is typically used to reduce the ???ramp up??? time in priming the cache to its optimal size. The default is set to 0.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="max-connect-attempts" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The number of times to retry making a connection.  This is used in conjunction with ???connection-retry-interval.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="max-connections" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
                                 The maximum number of connections that can be open at any given time.A value of 0 or less indicates that there is no maximum limit.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="min-connections" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The minimum number of connections that the connection pool will maintain.	</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="num-cached-statements" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The maximum number of statements that should be cached for each connection.  Any value greater than 0 automatically enables statement caching for the data source.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="property-check-interval" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en"/>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="time-to-live-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Oracle databases only.  The time interval (in seconds) for the cache daemon thread to enforce the time out limits.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="used-connection-wait-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The amount of time to wait (in seconds) for a used connection to be released by a client.  This only applies when the maximum number of connections has been retrieved from the data source and are in use.  In this case when a client tries to borrow a connection from the pool and all connections are in use, the connection pool will wait for a connection to be released back to the pool.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="validate-connection" type="xsd:boolean" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					Indicates whether or not a connection, when borrowed from the pool, will be validated against the database.  A value of ???true??? indicates that when a connection is borrowed from the connection pool, the statement, stated by ???validate-connection-statement???, is executed to verify that the connection is valid.  A value of ???false??? means that no statement will be executed when a connection is borrowed from the pool.  Used in conjunction with ???validate-connection-statement???.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="validate-connection-statement" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The SQL statement to execute when a connection is borrowed from the pool.  Used in conjunction with ???validate-connection.???
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="data-sources">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Root node.  Defines all of the data sources.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
				The native-data-source element defines one Native Data Source.
				The managed-data-source element defines one Managed Data Source.
				The connection-pool element defines one connection pool.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="native-data-source"/>
				<xsd:element ref="managed-data-source"/>
				<xsd:element ref="connection-pool"/>
			</xsd:choice>
			<xsd:attributeGroup ref="oc4j:oc4j-schemaVersionAttributeType"/>
			<xsd:attribute name="dms-update-interval"  type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The interval, in milliseconds, in which the data sources statistics update DMS.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
 		</xsd:complexType>
	</xsd:element>
	<xsd:element name="managed-data-source">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The managed-data-source element defines one Managed Data Source.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="connection-pool-name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name of the connection pool that this managed data source uses to pool its connections.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="jndi-name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name with which this data source will be bound into JNDI.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name of the managed data source.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="user" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The default user to use to get connections from the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="password" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The default password to use to get connections from the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="login-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The login timeout to use for this data source.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="tx-level" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The transaction level</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="global"/>
						<xsd:enumeration value="local"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="schema" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The path to the database schema for this data source when using the Orion CMP implementation for EJBs.  This is provided mainly for backward compatibility</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="native-data-source">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The native-data-source element defines one Native Data Source.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
				The property element is used to set generic properties on the data source object defined by the 'data-source-class' attribute.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="property"/>
			</xsd:sequence>
			<xsd:attribute name="data-source-class" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					The fully qualifed class of the data source implementation to use for this data source.  This must be an implementation
					of javax.sql.DataSource.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="jndi-name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name with which this data source will be bound into JNDI.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name of the native data source.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="user" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The default user to use to get connections from the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="password" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The default password to use to get connections from the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="login-timeout" type="xsd:integer" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The login timeout to use for this data source.	</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="url" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The url that the data source uses to communicate with the database.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="property">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			Defines a property.  The name attribute is the name of the property.  The value attribute is the value of the property.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="proxy-interface">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			The implementations of the java.sql.* classes provided by the JDBC drivers may extend the interfaces defined by java.sql.*  The proxy-interface tag is used to
			define the interfaces provided by the JDBC driver.
			The unmanaged-methods element defines the methods for this interface that will NOT be managed by OC4J.  These methods will not be intercepted and when executed during a global transaction will not cause OC4J to enlist the connection in the global transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>

			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="unmanaged-methods" minOccurs="0" maxOccurs="1"/>
			</xsd:choice>

			<xsd:attribute name="sql-object" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
					sql-object indicates the java.sql.* object for which the proxy-interface is associated.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Array"/>
						<xsd:enumeration value="Blob"/>
						<xsd:enumeration value="CallableStatement"/>
						<xsd:enumeration value="Clob"/>
						<xsd:enumeration value="Connection"/>
						<xsd:enumeration value="DatabaseMetaData"/>
						<xsd:enumeration value="ParameterMetaData"/>
						<xsd:enumeration value="PreparedStatement"/>
						<xsd:enumeration value="Ref"/>
						<xsd:enumeration value="ResultSet"/>
						<xsd:enumeration value="ResultSetMetaData"/>
						<xsd:enumeration value="SQLData"/>
						<xsd:enumeration value="SQLInput"/>
						<xsd:enumeration value="SQLOutput"/>
						<xsd:enumeration value="Savepoint"/>
						<xsd:enumeration value="Statement"/>
						<xsd:enumeration value="Struct"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The fully qualified path of the interface that the proxy to this object will implement.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="xa-recovery-config">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The xa-recovery-config element defines information need to perform XA recovery.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="password-credential"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="password-credential">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The password-credential element defines the user/password needed to perform XA recovery.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="username"/>
				<xsd:element ref="password"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="username" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The username used by the transaction manager to perform XA recovery.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="password" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The password used by the transaction manager to perform XA recovery.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

    <xsd:element name="fatal-error-codes">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The fatal-error-codes element defines the error codes that indicate that a fatal error has occurred and all unused connections in the connection pool are no longer valid.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="error-code"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="error-code">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            Each error-code defines an error code that is set by the JDBC driver when it throws a SQLException.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="code" type="xsd:integer" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="connection-properties">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            The connection-properties element defines connection properties that will be set on the connection factory.  This feature works when the connection factory is an instance of OracleDataSource.
		Each property defines one connection property.  The property's name attribute is the name of the property and the value attribute is
		the value for that property.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="property"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="unmanaged-methods">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The unmanaged-methods element defines the methods that are not managed by OC4J.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="unmanaged-method"/>
            </xsd:sequence>
            <xsd:attribute name="all-methods" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates whether or not all methods are to be unmanaged.  The default value is false.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="unmanaged-method">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The unmanaged-method element defines one method that is not managed by OC4J.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="unmanaged-method-param"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The name of the unmanaged method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="all-signatures" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates whether or not all method signatures for this method are to be unmanaged.  The default value is false.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="unmanaged-method-param">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The unmanaged-method-param element defines one parameter for the unmanaged method.  The order of the parameters should match the order of the parameters defined for the method.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The fully qualified path of the class that defines the type of the parameter.  This can also be one of the intrinsic java types (int, boolean, float, double, char).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>


 </xsd:schema>
