j2ee.oc4j/src/org/netbeans/modules/j2ee/oc4j/resources/oracle-webservices-auditing-10_0.xsd

<?xml version="1.0"?>
<xsd:schema
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified">

   <xsd:complexType name="auditingType">
      <xsd:attribute name="request" type="xsd:string" default="false"/>
      <xsd:attribute name="response" type="xsd:string" default="false"/>
      <xsd:attribute name="fault" type="xsd:string" default="false"/>
   </xsd:complexType>

</xsd:schema>
