c.gestalt.netbeans.modules.wsdlextensions.xmpp/src/com/gestalt/netbeans/modules/wsdlextensions/xmpp/XMPPWsdlExt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
           xmlns:xmpp="http://schemas.sun.com/jbi/wsdl-extensions/xmpp/" 
           targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/xmpp/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
    <xs:element name="binding" type="xmpp:tBinding">
        <xs:annotation>
            <xs:documentation>DESC_Element_binding</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="operation" type="xmpp:tOperation"/>
    <xs:complexType name="tOperation">
        <xs:annotation>
            <xs:documentation>DESC_ComplexType_tOperation</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="name" type="xmpp:operationName" use="required">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_name</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="operationName">
        <xs:restriction base="xs:string">
                <xs:enumeration value="sendMessage"/>
                <xs:enumeration value="receiveMessage"/>
                <xs:enumeration value="joinGroup"/>
                <xs:enumeration value="leaveGroup"/>
                <xs:enumeration value="kick"/>
                <xs:enumeration value="invite"/>
                <xs:enumeration value="createGroup"/>
                <xs:enumeration value="destroyGroup"/>
                <xs:enumeration value="getOccupantsPresence"/>
        </xs:restriction>
    </xs:simpleType>        
    <xs:element name="input" type="xmpp:tInput">
        <xs:annotation>
            <xs:documentation>DESC_Element_input</xs:documentation>
            <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="jabberId" propertyOrder="1">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="packetId" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="message" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="groupChat" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="groupList" propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="userList" propertyOrder="6">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="roomName" propertyOrder="7">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tInput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="jabberId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_jabberId</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="packetId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_packetId</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="groupChat" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_groupChat</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="groupList" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_groupList</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userList" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_userList</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="roomName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_roomName</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="output" type="xmpp:tOutput">
        <xs:annotation>
            <xs:documentation>DESC_Element_output</xs:documentation>
            <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="jabberId" propertyOrder="1">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="packetId" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="message" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tOutput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="jabberId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_jabberId</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="packetId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_packetId</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="fault" type="xmpp:tFault">
        <xs:annotation>
            <xs:documentation>DESC_Element_fault</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tFault">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>        
    <xs:element name="address" type="xmpp:tAddress">
        <xs:annotation>
            <xs:documentation>DESC_Element_address</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddress">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="domain" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_domain</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="username" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_username</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="password" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_password</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="resource" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_resource</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="port" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_port</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="group" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_group</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
