c.gestalt.netbeans.modules.wsdlextensions.xmpp/src/com/gestalt/netbeans/modules/wsdlextensions/xmpp/XMPPWsdlExt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
           xmlns:xmpp="http://schemas.sun.com/jbi/wsdl-extensions/xmpp/" 
           targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/xmpp/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
    <xs:element name="binding" type="xmpp:tBinding">
        <xs:annotation>
            <xs:documentation>
                "binding" indicates a protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="operation" type="xmpp:tOperation"/>
    <xs:complexType name="tOperation">
        <xs:annotation>
            <xs:documentation>
                "operation" defines the protocol based operation binding details.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="name" type="xmpp:operationName" use="required">
                    <xs:annotation>
                        <xs:documentation>Select the name of the operation. JoinGroup allows you to join a specified Group Chat.  LeaveGroup allows you to leave the specified Group Chat(s).  SendMessage allows you to send an Instant Message to a single user or to a group chat.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="operationName">
        <xs:restriction base="xs:string">
                <xs:enumeration value="sendMessage"/>
                <xs:enumeration value="joinGroup"/>
                <xs:enumeration value="leaveGroup"/>
        </xs:restriction>
    </xs:simpleType>        
    <xs:element name="input" type="xmpp:tInput">
        <xs:annotation>
            <xs:documentation>
                Defines the protocol based operation message details.
            </xs:documentation>
            <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="from" propertyOrder="1">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="id" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="message" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="groupChat" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="groupList" propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tInput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="from" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Who the message is from</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The ID of the message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The content of the message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="groupChat" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Is this message destined for a group chat (yes or no)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="groupList" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>a list of comma separted groups to join or leave (e.g. room@conference.localhost,roomA@conference.localhost)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="output" type="xmpp:tOutput">
        <xs:annotation>
            <xs:documentation>
                Defines the protocol based operation message details.
            </xs:documentation>
            <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="to" propertyOrder="1">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="id" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="message" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tOutput">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="to" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Who the message is destined for</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The ID of the message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="message" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The content of the message</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="fault" type="xmpp:tFault">
        <xs:annotation>
            <xs:documentation>
                Defines the protocol based operation fault details.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tFault">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>        
    <xs:element name="address" type="xmpp:tAddress">
        <xs:annotation>
            <xs:documentation>
                "address" indicates protocol based service address.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddress">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="domain" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The domain where the XMPP server is located</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="username" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The username to login in to the XMPP server</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="password" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The password to login to the XMPP server</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="resource" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The resource for this user</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="port" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The port number of the XMPP server</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="group" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The name of the group you wish to join (Group Chat)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
