wsdlextensions.msmq/src/org/netbeans/modules/wsdlextensions/msmq/resources/msmq-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msmq="http://schemas.sun.com/jbi/wsdl-extensions/msmq/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/msmq/">
	<xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
	<xs:element name="binding" type="msmq:tBinding">
		<xs:annotation>
			<xs:documentation>
	      	"binding" indicates a msmq protocol based binding.
	      </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tBinding">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement"/>
			<!-- could add more attributes to the binding -->
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="operation" type="msmq:tOperation"/>
	<xs:complexType name="tOperation">
		<xs:annotation>
			<xs:documentation>
	      	"operation" defines the msmq protocol based operation binding details.
	      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="message" type="msmq:tMessage">
		<xs:annotation>
			<xs:documentation>
	      		"Message" indicates a msmq protocol based operation message.
	      </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tMessage">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="connectionMode" default="QueueName" type="msmq:connectionMode" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Connection Mode" represents the mode of connection. "Queue Alias" is an Active Directory object of the MSMQ-Custom-Recipient class type, which associates an Ads path and a user-defined string (alias) with a public, private, or direct single-element format name. "Queue Format Name"  is the format name of the queue. The format name is a string that uniquely identifies a queue by providing some connection details and the queue path. Different types of format names can be used to  specify the way messages are routed, the type of destination, and the type of operation for which the queue is being opened. "Queue Name" in Message Queuing Server Name. "DistributionList" is a public list of destinations that are stored in Active Directory Domain Services (AD DS). "MulticastAddress" is the specific multicast address that a non-transactional Queue is associated with.  "MultipleElementFormatName" is created by concatenating any number of public format names, private format names, direct format names, including multicast address format names, and distribution list format names.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="destination" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
							"Destination" defines value of the queue name. "Queue Alias" is an Active Directory object of the MSMQ-Custom-Recipient class type, which associates an Ads path and a user-defined string (alias) with a public, private, or direct single-element format name. "Queue Format Name"  is the format name of the queue. The format name is a string that uniquely identifies a queue by providing some connection details and the queue path. Different types of format names can be used to  specify the way messages are routed, the type of destination, and the type of operation for which the queue is being opened. "Queue Name" in Message Queuing Server Name. . Specify the Distribution List as "DL=&lt;distribution list name&gt;". Specify the Multicast Address as "MULTICAST=&lt;Address&gt;:&lt;Port&gt;".  Specify the Multiple Element Format Names as comma separated values &lt;formatname1&gt;, &lt;formatname2&gt;, ..., &lt;formatnameN&gt;.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>	
				<xs:attribute name="shareMode" type="msmq:shareModes" default="DENY_NONE" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Share Mode" defines the share mode to open the queue
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>				
				<xs:attribute name="accessMode" type="msmq:accessModes" default="SEND_ACCESS" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Access Mode" defines the action mode to open the queue.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="msgLookupID" type="xs:long" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Message Lookup Identifier" defines the message identifier to peek or receive the message from queue.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="receiveInterval" type="msmq:timeInterval" default="5000" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Receive Interval" defines the receive interval between the receive calls.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="messagePriority" type="msmq:messagePriority" default="3" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Message Priority" priority of message to be sent to queue.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="acknowledgement" type="xs:boolean" default="false" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Acknowledgement" specify whether acknowledge is required.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>				
				<xs:attribute name="messageType" type="msmq:messageTypes" use="optional">
					<xs:annotation>
						<xs:documentation>
							"messageType" type of the message body. If message type is not amoung listed select "Array of Bytes".
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="use" type="msmq:useTypes" default="literal" use="optional">
					<xs:annotation>
						<xs:documentation>
							"Use" specifies whether you are using encoder or not.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="encodingStyle" type="xs:anyURI" use="optional">
					<xs:annotation>
						<xs:documentation>
							"encodingStyle" message encoding style.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="part" type="xs:string" use="optional">
				    <xs:annotation>
				        <xs:documentation>
							Defines the reference to the abstract message part in the WSDL.
						</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="transaction" type="msmq:transactionTypes" use="optional">
				    <xs:annotation>
				        <xs:documentation>
							Defines the transaction types supported by this WSDL.
						</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<!--<xs:sequence>
					<xs:element ref="msmq:properties" minOccurs="0"/>
				</xs:sequence>-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="connectionMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="QueueName"/>
			<xs:enumeration value="QueueFormatName"/>			
			<xs:enumeration value="QueueAlias"/>
			<xs:enumeration value="DistributionList"/>
			<xs:enumeration value="MulticastAddress"/>
			<xs:enumeration value="MultipleElementFormatName"/>			
		</xs:restriction>
	</xs:simpleType> 
	<xs:simpleType name="shareModes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DENY_NONE"/>
			<xs:enumeration value="DENY_RECEIVE_SHARE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="accessModes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEND_ACCESS"/>
			<xs:enumeration value="RECEIVE_ACCESS"/>
			<xs:enumeration value="PEEK_ACCESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeInterval">
		  <xs:restriction base="xs:int">
		    <xs:minInclusive value="1000"/>
		    <xs:maxInclusive value="10000"/>
		  </xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messagePriority">
		<xs:restriction base="xs:int">
			<xs:enumeration value="3"/>
			<xs:enumeration value="0"/>	
			<xs:enumeration value="1"/>	
			<xs:enumeration value="2"/>				
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="array of bytes"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="short integer"/>	
			<xs:enumeration value="long integer"/>	
			<xs:enumeration value="char"/>				
			<xs:enumeration value="float"/>				
			<xs:enumeration value="double"/>				
			<xs:enumeration value="date"/>				
			<xs:enumeration value="currency"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="useTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="literal"/>
			<xs:enumeration value="encoded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transactionTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoTransaction"/>
			<xs:enumeration value="XATransaction"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="address" type="msmq:tAddress">
		<xs:annotation>
			<xs:documentation>
	      		"address" indicates a msmq protocol based service address.
	      </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tAddress">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="hostName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>
							"Host Name" Name of the system where MSMQ is hosted.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
