c.gestalt.netbeans.modules.wsdlextensions.rss/src/com/gestalt/netbeans/modules/wsdlextensions/rss/RSSWsdlExt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
           xmlns:rss="http://schemas.sun.com/jbi/wsdl-extensions/rss/" 
           targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/rss/">
    <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
    <xs:element name="binding" type="rss:tBinding">
        <xs:annotation>
            <xs:documentation>DESC_Element_binding</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tBinding">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement"/>
            <!-- could add more attributes to the binding -->
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="operation" type="rss:tOperation"/>
    <xs:complexType name="tOperation">
        <xs:annotation>
            <xs:documentation>DESC_ComplexType_tOperation</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="name" type="rss:operationName" use="required">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_name</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="operationName">
        <xs:restriction base="xs:string">
                <xs:enumeration value="subscribe"/>
                <xs:enumeration value="publish"/>
        </xs:restriction>
    </xs:simpleType>        
    <xs:element name="address" type="rss:tAddress">
        <xs:annotation>
            <xs:documentation>DESC_Element_address</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tAddress">
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="feedTitle" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_feedTitle</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="feedDescription" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_feedDescription</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="feedType" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_feedType</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="location" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_location</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="username" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_username</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="password" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_password</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="correlationId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_correlationId</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="input" type="rss:tInput">
        <xs:annotation>
            <xs:documentation>DESC_Element_input</xs:documentation>
            <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:Property attributeName="pollingInterval" propertyOrder="1">
                        <prop:SchemaCustomizer />
                    </prop:Property>
                    <prop:Property attributeName="filterByType"  propertyOrder="2">
                        <prop:SchemaCustomizer />
                    </prop:Property>
                    <prop:Property attributeName="filterByValue" propertyOrder="3">
                        <prop:SchemaCustomizer />
                    </prop:Property>
                    <prop:Property attributeName="entryTitle" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="entryLink" propertyOrder="5">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="entryDescription" propertyOrder="6">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="latitude" propertyOrder="7">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="longitude" propertyOrder="8">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="feedList" propertyOrder="9">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="destinationUrl" propertyOrder="10">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="tInput">
        <xs:annotation>
            <xs:documentation>DESC_ComplexType_tInput</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="pollingInterval" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_pollingInterval</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="filterByType" type="rss:filterType" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_filterByType</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="filterByValue" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_filterByValue</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entryTitle" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_entryTitle</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entryLink" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_entryLink</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entryDescription" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_entryDescription</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="latitude" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_latitude</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="longitude" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_longitude</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="feedList" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_feedList</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="destinationUrl" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>DESC_Attribute_destinationUrl</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="filterType">
        <xs:restriction base="xs:string">
                <xs:enumeration value="none"/>
                <xs:enumeration value="publishDate"/>
        </xs:restriction>
    </xs:simpleType>        
</xs:schema>
